* {
    padding: 0 auto;
    margin: 0 auto;
 }

 body {
 	width: 90vw;
 	background-color: #ffffcc;
 	font-family: 'Courgette', cursive;
 }

#navigatie {
	height: 800px;
}

#navigatie ul {
	list-style: none;
}

#navigatie ul li a {
	text-decoration: none;
	position: relative;
	left: 25vw;
	margin: 1vw 5vw;
	float: left;
	font-size: 2vw;
	top: -15vh;
	color: black;

}
#navigatie ul li a {
   border-radius: 50vh;
   background-color:#ffff99;
   border: 2px solid;
 }

#logo {
	height: 12vw;

}

.mySlides {
	display:none;
	border: 5px solid;
    
}

#Home {
	text-align: center;
}
#hometekst {
	font-size: 5vw;
}
#teksthome {
	font-size: 3vw;
}

#assortimententekst {
	font-size: 5vw;
	text-align: center;
	margin-top: 30vh;
}
#tekstassortimenten {
	font-size: 3vw;
	text-align: center;
	margin-top: 5vh;
}

.gebakjes {
	margin-top: 10vh;
	width: 19vw;
	height:14vw;
	padding: 20px;
}

#Contact {
	display: flex;
	/*background-color: black;*/
}
#adresgegevens {
	font-size: 2vw;
	margin-top: 10vh;
}
#googleMap {
	margin-left: 120px;
}

footer table {
   width: 100%;
   bottom:0px;
   height:30px;   /* Height of the footer */
   font-weight:bolder;
   background-color: black;
   margin-left: auto;
   margin-right: auto;
    text-align:center;
    color: white;
    font-size:20px;
    border: 3px white solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;  
} 

footer  {
	margin-top: 1vw;
    width: 100%;
}